---
layout: "base.liquid"
title: "Articles"
permalink: /articles/
---
<div class="page-container">
  <header class="page-header">
    <h1>All Posts</h1>
  </header>
  <div class="post-grid">
    {%- for post in collections.allPosts -%}
      {%- include "postcard.liquid" -%}
    {%- endfor -%}
  </div>
</div>